<%= render "layouts/header" %>

<div class="wrapper">
<!-- As Server: assign Guests to tables -->
<% if current_user.account == "server" %>
  <%= render "layouts/alltables" %>
<% end %>

<!-- As admin: -->
<% if current_user.account == "admin" %>
  <%= render "layouts/alltables" %>
<!-- Create/Edit/Destroy inventory -->
<% end %>

<!-- As chef: -->
<% if current_user.account == "chef" %>
<!-- Create/Edit/Destroy inventory -->
<!-- Display current tickets -->
<% end %>

<%= button_to "Log Out", sessions_path, method: :delete %>
</div>
