<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<h1>welcome to RESTaurantApp</h1>
<%= link_to "New User", new_user_path%>
<%= link_to "Login", log_in_path%>
