<!-- welcome page -->

<div class="wrapper-welcome" style="margin-left: -0.5em;">
  <div class="row">
    <div class="one column">
    <h1 class="animated bounceInLeft" style="display: inline-block;"><a>book.</a></h1><h1><span style="font-variant:small-caps;">rest</span></h1>
  </div>
  <div class="row">
    <div class="one column" style="display: inline-block;">
      <button type="submit"><a href="/users/new">Sign Up</a></button>
      <button type="submit"><a href="/log_in">Login</a></button>
    </div>
  </div>
</div>

<a style="font-size: 4em;"href=""><%= icon('times') %></a>
