<div class="row">
<ul>
  <% guests.each do |guest| %>
  <li><%= guest.name %></li>
  <% end %>
</ul>
</div>

<% tables.each do |table| %>
<%# binding.pry %>
<h4><%= link_to table.name, tables_path(table.id) %></h3>
<p>Seat numbers: <%= table.seat_numbers %></p>
<% end %>
